<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marriagenda.marriagendamobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_marriagenda"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MarriagendaSplash"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".marriagendaLogin"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MarriagendaActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MarriagendaRegister"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewEvent"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewEvent"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
    </application>

</manifest>